
		$primary: #d838f2;
		
		$secondary: #fab4fb;
		$background: rgb(193, 144, 205);
		$dark:#382a27;
		$danger: #fff38d;
		$info:#50cceb;
		$success: #c7d355;
		$enable-negative-margins: true;

@import '~bootstrap/scss/bootstrap.scss'