

		$primary: #d838f2;
		
		$secondary: #fab4fb;
		$background: rgb(193, 144, 205);
		$dark:#382a27;
		$danger: #fff38d;
		$info:#eb50b8;
		$success: #c7d355;
		$enable-negative-margins: true;

		//   background: {
		// 	default: '#',
		// 	paper: '#fafafa',
		//   },
		//   text: {
		// 	primary: '#000000',
		// 	secondary: '#d838f2',
		// 	disabled: 'rgba(0,0,0,0.22)',
		// 	hint: '#382a27',

	
		  
		  
	
	  
 

@import '~bootstrap/scss/bootstrap.scss'