/* //Remember, to style rating icons, refer to ClassNames in App.js */


body {
  margin: auto;
  
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  margin-bottom: 0;
}