body {
  background-color: rgb(230, 225, 234);
  
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh; 
  text-align: center; 
}
h1, h2{
  color: rgb(187, 60, 237);
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
